.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
  justify-content: center;
}

.portfolio__item {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
}

.portfolio__img {
  width: 300px;
  height: 200px;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
}

.portfolio__title {
  color: var(--title-color);
  font-weight: var(--medium-font);
  margin-bottom: var(--mb-0-5);
}

@media screen and (max-width: 768px) {
  .portfolio__content {
    grid-template-columns: repeat(1, max-content);
  }
}

@media screen and (max-width: 400px) {
  .portfolio__img {
    width: 200px;
    height: 150px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
  }
}
